<!-- Menu option-->

<div style="display:flex; width:100%;height:50px;color:white;background-color:black">


	<a href="@Url.Action("Index","Home")">
		<Button> Home</Button>

	</a>
	<a href="@Url.Action("Claim","Home")">

		<Button> Claim </Button>

	</a>
	<a href="@Url.Action("TrackClaim","Home")">

		<Button> Track Claim </Button>

	</a>
	<a href="@Url.Action("Pre_Approve","Home")">

		<Button> Pre Approve </Button>

	</a>
	<a href="@Url.Action("Approve","Home")">

		<Button> Approve </Button>

	</a>
	


</div>
